<nav>
    <ul>
        <li class="icon">Icon Here</li>
        <li>
            <div class="burger">
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
            </div>
            <ul class="left" id="left">
                <li><a href="/"><span>01</span> HOME</a></li>
                <li><a href="{{ url_for('pages.mission')}}"><span>02</span> MISSIONS</a></li>
                <li><a href="{{ url_for('pages.aboutUs')}}"><span>03</span> ABOUT US</a></li>
            </ul>
        </li>
    </ul>
</nav>