{% extends "base.html" %}

{% block head %}
<title>About Us</title>
{% endblock head %}

{% block body %}
<main class="aboutUs">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, nihil?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis itaque, doloremque commodi consectetur sed voluptatibus neque labore debitis ut nesciunt nemo ab ullam ipsam doloribus expedita excepturi delectus numquam! Libero, inventore, at maxime repudiandae magnam ipsam rerum reprehenderit sequi sit porro distinctio expedita? Impedit saepe deleniti cum, obcaecati velit ullam pariatur quam fuga rem veniam unde porro repellat sapiente magnam consequatur ut, numquam dolor iste vero incidunt nesciunt accusamus neque. Doloremque fugiat voluptatum magni ab labore minus deleniti obcaecati ducimus quia aut molestias corrupti ipsa, nobis placeat, dolore quidem asperiores repellendus omnis? Molestiae eaque architecto explicabo, optio rerum exercitationem deleniti?</p>
</main>
{% endblock body %}