{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block body %}
    <main class="home">
        <section class="heroPage"></section>
        <section class="spacecrafts"></section>
        <section class="about">
            <div class="text">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem tempore magni quo distinctio excepturi deleniti repudiandae recusandae mollitia ea omnis voluptatibus quae molestiae, a quia illum provident vero. Quam ut ullam sunt voluptas repellat dignissimos cupiditate hic distinctio eos. Commodi provident atque rem consequatur, modi magni minus. Quo illo animi distinctio vel id maxime eveniet doloribus odio, voluptas mollitia, nesciunt magnam ut voluptatibus at dolores! Velit facilis mollitia dolores sunt pariatur, voluptas eaque molestiae eum. Ipsa nobis impedit officia atque ipsam temporibus numquam? Quod iste odio provident ducimus! Eligendi ipsa officiis nobis exercitationem minima iure dignissimos illo eum harum. Excepturi?</p>
            </div>
        </section>
        <section class="footer"></section>
    </main>
{% endblock body %}