{% extends "base.html" %}
{% block head %}
<title>Moon Missions</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}


{% block body %}
<h1 style="text-align: center; margin-top: rem">Moon Missions</h1>
<main class="missions">
    <section class="charts">
        <canvas id="bar"></canvas>
        <script>
    const ctx = document.getElementById('bar').getContext("2d");
  
    const barchart = new Chart(ctx, {
          type: 'bar',
        data: {
            labels: {{ countries | safe}},
            datasets: [{
            label: '# of moon missions per operator',
            data: {{ data | safe }},
            borderWidth: 1
            }]
        },
        options: {
            responsiveness: true,
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
        </script>
        <canvas id="line"></canvas>
        <script>
            const lineCanvas = document.getElementById("line").getContext("2d");
            
            const lineChart = new Chart(lineCanvas, {
                type: 'line',
                data: {
                    labels: {{ years | safe }},
                    datasets: [{
                        label: 'Moon missions per year',
                        data: {{ frequency | safe }},

                    }]
                }
            })
        </script>
    </section>
    <section class="tables">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Spacecreaft Used</th>
                        <th>Launch Date</th>
                        <th>Operator</th>
                        <th>Outcome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mission in missions %}
                        <tr>
                            <td>{{ mission.spacecraft }}</td>
                            <td>{{ mission.launchDate }}</td>
                            <td>{{ mission.operator }}</td>
                            {% if mission.outcome == True %}
                                <td>Success</td>
                            {% else %}
                                <td>Failed</td>
                            {% endif %}
                        </tr>
                    {% endfor %}    
                </tbody>
                
            </table>
        </div>
    </section>

</main>

   
{% endblock body %}
