<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='dom.js')}}" defer></script>
    <title>
        Moon Landing
    </title>
    {% block head %}{% endblock head %}
</head>
<body>
    {% include "components/_nav.html" %}
    {% block body %}{% endblock body %}
</body>
</html>